.job-list-container {
    width: 50rem;
    margin: 1rem auto;
    
}

.job-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F2F2F2;
    position: relative;
    border-bottom: 1px solid black;
    transition: all 1s;
}

.job-item{
    margin: 0.3rem 0;
}



.job-item--jobtitle{
    color: var(--primary-blue);
    font-size: 1.8rem;
    font-weight: 500;
}

.salary-heading{
    display: inline-block;
}

.view-btn-container{
    display: flex;
    justify-content: flex-end;
}

.view-more {
    cursor: pointer;
}
.view-more:hover{
    color: black;
}
/*filtre section*/

.filtre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    margin-top: 0;
    background: #f7f7f7;
}

.filtre-item{
    margin: 1rem;
}

.filtre-input{
    width: 13rem;
    padding: 0.5rem;
    font-weight: 500;
}

.filtre-btn-search{
    background-color: var(--primary-blue);
    color: white;
    border: 1px solid transparent;
    transition: all 0.5s;
}

    .filtre-btn-search:hover {
        background-color: white;
        color: var(--primary-blue);
        border: 1px solid var(--primary-blue);
    }
/*end of filtre section*/
.flash-message-container {
    text-align: center;
    padding: 0.8rem;
    background-color: rgba(156, 255, 162,0.5);
    width: 30rem;
    margin: 2rem auto;
    border-radius: 5px;
}

.flash-danger {
    background-color: rgba(255, 61, 61,0.5);
}

.flash-message {
    opacity: 1;
}


#top-btn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 24px;
    color: white;
    padding: 1rem;
    border-radius: 100%;
    background-color: var(--primary-blue);
}