.login-container {
    display: flex;
    width: 80rem;
    margin: auto;
    margin-top: 8rem;
    justify-content: space-around;
    
}

.login-applicant--box, .login-employer--box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 1.1rem;
    transition: all 1s;
}

    .login-applicant--box:hover, .login-employer--box:hover {
        -webkit-box-shadow: 0px 10px 14px -6px rgba(61,132,255,1);
        -moz-box-shadow: 0px 10px 14px -6px rgba(61,132,255,1);
        box-shadow: 0px 10px 14px -6px rgba(61,132,255,1);
        transform: scale(1.1);
    }

    .login-header {
        margin: 2rem 1rem;
        text-align: center;
    }

.login-div {
    margin: 1rem 1rem;
    margin-right: 2rem;
}

.login-input {
    width: 20rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
}



.login-btn {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
    font-weight: 500;
}

    .login-btn:hover {
        color: black;
    }

.flash-message-container {
    text-align: center;
    padding: 0.8rem;
    background-color: rgba(156, 255, 162,0.5);
   
    width: 30rem;
    margin: 2rem auto;
    border-radius: 5px;
}

.flash-message{
    opacity: 1;
}