.post-job-container {
    margin: 1rem auto;
    width: 85vw;
    background-color: #F2F2F2;
    display: flex;
    flex-direction:column;
    border: 3px solid var(--primary-blue);
 
}

.post-job-header {
    text-align: center;
    background-color: var(--primary-blue);
    padding: 0.8rem;
    color: white;
}

.post-job-div{
    margin: 0.7rem 1rem;
}

.post-job-input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.post-job-input--salary{
    width: 30%;
}

.post-job-about{
    height: 10rem;
}

.post-job-btn{
    text-align: center;
    width: 100%;
    font-weight: 500;
    
}
.post-job-btn:hover {
    color: black;
    cursor: pointer;
}

.flash-message-container {
    text-align: center;
    padding: 0.8rem;
    background-color: rgba(156, 255, 162,0.5);
    width: 30rem;
    margin: 2rem auto;
    border-radius: 5px;
}

.flash-message {
    opacity: 1;
}